:host {
    display: block;
}

:host .bh-button {
    cursor: pointer;
    border: 1px solid #aeaeae;
    padding: 3px 6px;
    background-color: #aeaeae;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 90px;
    margin-bottom: 1px;
}